PORT=4000
CLIENT_URL=http://localhost:3000

DATABASE_URL=postgresql://user:pass@host/neondb?sslmode=require
DIRECT_URL=postgresql://user:pass@host/neondb?sslmode=require

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
